extends layout 

block content 
    #banner.page-header 
        .row 
            .col-lg-6
                h1 
                    | MekanBul 
                    small &nbsp; Civardaki Mekanları Keşfet;
    .row 
        .row.list-group 
        .col-xs-12.col-sm-12    
            .col-xs-12.list-group-item 
                h4 
                    a(href='/mekan') Starbucks
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty 
                span.badge.pull-right.badge-default 2km                  
                p.address Centrum Garden AVM
                p 
                    span.label.label-warning Kahve  
                    |   &nbsp;
                    |   &nbsp;
                    span.label.label-warning Tatlı

    .row 
        .row.list-group 
        .col-xs-12.col-sm-12    
            .col-xs-12.list-group-item 
                h4 
                    a(href='/mekan') Burger King
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                    span.glyphicon.glyphicon-star-empty 
                span.badge.pull-right.badge-default 2km                  
                p.address Centrum Garden AVM
                p 
                    span.label.label-warning Hamburger 
                    |   &nbsp;
                    |   &nbsp;
                    span.label.label-warning Gazlı İçecekler
                    |   &nbsp;
                    |   &nbsp;
                    span.label.label-warning Kahve
    .row 
        .row.list-group 
        .col-xs-12.col-sm-12    
            .col-xs-12.list-group-item 
                h4 
                    a(href='/mekan') Popeyes
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star 
                span.badge.pull-right.badge-default 10km                  
                p.address İyaşpark AVM
                p 
                    span.label.label-warning Hamburger 
                    |   &nbsp;
                    |   &nbsp;
                    span.label.label-warning Tavuk Parçaları
                    |   &nbsp;
                    |   &nbsp;
                    span.label.label-warning İçecekler
                    
